:root{
  --offwhite: #f4f7ed;
  --brightgreen: #86ee60;
  --darkgreen: #2e6e65;
  --darkblue: #2b3752;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: var(--offwhite);
  display: flex;
  flex-wrap: wrap;
}

nav {
  background-color: var(--darkblue);
  height: 75px;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-grow: 3;
  justify-content: center;
}

img {
  height: 100%;
  display: inline;
  height: 75%;
  margin: 10px;
}

h1 {
  flex-grow: 10;
  display: inline;
  color: var(--darkgreen);
  font-size: 38px;
}

a {
  margin: 20px 8px;
  color: var(--offwhite);
  text-decoration: none;
  
}

a, h1 {
  font-family: 'Coda Caption', sans-serif;
}