:root{
  --offwhite: #f4f7ed;
  --brightgreen: #86ee60;
  --darkgreen: #2e6e65;
  --darkblue: #2b3752;
}

body {
  height: 100vh;
  background-color: var(--offwhite);
}

nav {
  position: absolute;
  height: 15%;
}