:root{
  --offwhite: #f4f7ed;
  --brightgreen: #86ee60;
  --darkgreen: #2e6e65;
  --darkblue: #2b3752;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Coda', cursive;
}

body {
  height: 100vh;
  background-color: var(--offwhite);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

nav {
  background-color: var(--darkblue);
  box-shadow: 5px 5px 10px grey;
  height: 75px;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-grow: 3;
  justify-content: center;
}

img {
  height: 100%;
  display: inline;
  height: 75%;
  margin: 10px;
}

h1 {
  color: var(--brightgreen);
  font-size: 38px;
  
}
.logo-text {
  flex-grow: 10;
  display: inline;
  margin: 12px;
}

a {
  margin: 20px 8px;
  color: var(--offwhite);
  text-decoration: none;
}

span {
  float: right;
}

.left-panel {
  height: calc(100% - 85px);
  width: 30%;
  background-color: var(--darkblue);
  box-shadow: 5px 5px 10px grey;
  margin-top: 10px;
  color: var(--offwhite);
  padding: 40px;
  font-size: 40px;
}

.right-panel {
  height: calc(100% - 85px);
  width: calc(70% - 10px);
  box-shadow: 5px 5px 10px grey;
  margin-top: 10px;
  margin-left: 10px;
  padding: 40px 15%;
}

.post-list {
  list-style: none;
}

.post-thumbnail {
  background-color: var(--darkblue);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: var(--offwhite);
}