{% extends 'base.html' %} 
{% block content %}
 <h1>Wayfarer is...</h1>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<h2>Log in</h2>

<p> username
<input type="text" name="username" placeholder="username">
</p>
<p> password
<input type="text" name="password" placeholder="password">
</p>
</form>

<form method="post" action="{% url 'signup' %}">
{% csrf_token %} {{ form.as_p }}
<h3>Sign up</h3>
<p> username
<input type="text" name="username" placeholder="username">
</p>
<p> password
<input type="text" name="username" placeholder="password">
</p>
<p> confirm password
<input type="text" name="confirm password" placeholder="confirm password">
</p>

</form>


{% endblock %}
   
  